@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* Default to Mocha (Dark) */
  --color-base-dark: #1e1e2e;
  --color-mantle-dark: #181825;
  --color-crust-dark: #11111b;
  --color-border-subtle-dark: #313244;
  --color-text-main-dark: #cdd6f4;
  --color-text-sub-dark: #a6adc8;
  --color-accent-mauve-dark: #cba6f7;
  --color-accent-green-dark: #a6e3a1;
  --color-accent-blue-dark: #89b4fa;

  /* Switch to Latte (Light) */
  --color-base: #eff1f5;
  --color-mantle: #e6e9ef;
  --color-crust: #dce0e8;
  --color-border-subtle: #ccd0da;
  --color-text-main: #4c4f69;
  --color-text-sub: #6c6f85;
  --color-accent-mauve: #8839ef;
  --color-accent-green: #40a02b;
  --color-accent-blue: #1e66f5;
}
